[submodule "submodule/spdlog"]
	path = submodule/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "submodule/imgui"]
	path = submodule/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "submodule/glm"]
	path = submodule/glm
	url = git@github.com:g-truc/glm.git
